<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/assets/images/branding/flutter/logo/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="/tos">termos</a></li>
              <li><a href="/brand">uso da marca</a></li>
              <li><a href="/security">segurança</a></li>
              <li><a href="https://www.google.com/intl/en/policies/privacy">privacidade</a></li>
              <li><a href="https://flutter.dev/">inglês (oficial)</a></li>
              <li><a href="https://esflutter.dev/">espanhol</a></li>
              <li><a href="https://flutter.cn" class="text-nowrap">社区中文资源 (chinês)</a></li> 
              <li><a href="https://blog.google/inside-google/company-announcements/standing-with-black-community">Estamos solidários à comunidade negra. Vidas Negras Importam.</a></li>
          </ul>
          <p class="licenses">
            Exceto quando indicado de outra forma,
            este trabalho está licenciado sob uma
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0">Licença 
            Internacional Creative 4.0</a>,
            e exemplos de código estão licenciados sob a Licença BSD.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
