@use '../base/variables' as *;
@use '../vendor/bootstrap';

// Updated banner styles to match official Flutter docs structure
#site-banner,
.site-banner {
  background-color: $flutter-color-blue;
  color: $site-color-white;
  font-family: $site-font-family-alt;
  font-size: bootstrap.$font-size-lg;
  padding: bootstrap.bs-spacer(5);
  position: relative;
  text-align: center;
  z-index: bootstrap.$zindex-sticky;

  p {
    margin-bottom: bootstrap.bs-spacer(3);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: $flutter-color-blue-on-dark;

    &:hover {
      color: $flutter-color-blue-on-dark;
    }
  }
}

// Chevron decorations for default banner
#site-banner,
.site-banner.site-banner--default {
  &:before,
  &:after {
    background-image: url('/assets/images/flutter-chevron-bg.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:before {
    transform: scaleX(-1);
  }
}

.alert-translate {
  font-family: $site-font-family-alt;
  background-color: #f2f2f2; /* escolha uma cor que não seja muito invasiva */
  color: #303c42; /* escolha uma cor de texto que seja fácil de ler em segundo plano */
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 50; 
  font-size: 16px;
  padding: bs-spacer(2);
}