name: Deploy to Firebase Hosting on PR

on:
  pull_request:
    branches:
      - main

# Declare default permissions as read only
permissions:
  contents: read
  pull-requests: write

jobs:
  build_and_preview:
    name: Build and deploy preview
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: beta

      - name: Fetch Dart dependencies
        run: dart pub get

      - name: Build site
        run: dart run dash_site build

      - name: Deploy to Firebase Hosting Preview Channel
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_TRANSLITERADU }}
          projectId: transliteradu
          channelId: pr-${{ github.event.pull_request.number }}
          expires: 7d
          target: docs-flutterbrasil
